{% extends 'base.html'%}
{% block title %}Пост {{post.text|slice:":30"}}{% endblock%}
{% block content %}
{% load static %}
{% load thumbnail %}
{% load user_filters %}
<div class="container py-5">  
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
        {% if post.group %} 
        <li class="list-group-item">
          Группа: {{ post.group }}
          <a href="{% url 'posts:group_list' post.group.slug %}" style="text-decoration: none">
            все записи группы
          </a>
        {% endif %}  
        </li>
        <li class="list-group-item">
          Автор: {{post.author.get_full_name}}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span>{{ post.author.posts.count }}</span>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' post.author.username %}" style="text-decoration: none">
            Все посты пользователя
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p></p>
      <p>
        {{ post.text }}
      </p>
      
      {% if user.is_authenticated %}
        <div class="card my-4">
          <h5 class="card-header">Добавить комментарий:</h5>
          <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}      
              <div class="form-group mb-2">
                {{ form.text|addclass:"form-control" }}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      {% endif %}
      {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.username }}
              </a>
            </h5>
            <p>
              {{ comment.text }}
            </p>
          </div>
        </div>
      {% endfor %} 
              <!-- LIKES -->
  {% if user.is_authenticated %} 
  <form action="{% url 'posts:blogpost_like' post.id %}" method="POST">
  {% csrf_token %}
  {% if post in user.post_likes.all %}
    <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">💔</button>
  {% else %}
    <button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Мне нравится❤️</button>
  {% endif %}
  </form>

  {% if post.likes.count >= 0 %}
    <p><strong class="text-secondary">{{ post.likes.count }} это нравится{{ number_of_likes|pluralize }}</strong></p>
  {% endif %}
  {% else %}
    <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Хочу лайкнуть этот пост!</a><br>
{% endif %}
<!-- LIKES -->
    </article>
  </div> 
</div>      
{% endblock %}